
<title>Form</title>
<div class="bodier">

    <div class="container d-flex">
        <div class="col-sm-5">
            <button>HÔM NAY BẠN ỔN KHÔNG ?</button>
            <h6>Bạn Bao Nhiêu Tuổi</h6>
            <input type="radio" name="age" value="từ 14-18" />Từ 14 - 18 tuổi <br />
            <input type="radio" name="age" value="từ 19-25" />Từ 19 - 25 tuổi <br />
            <input type="radio" name="age" value="trên 26" />Trên 26 tuổi <br />
            <h6>Giới Tính Của Bạn ?</h6>
            <input type="radio" name="gender" value="nam" />Nam<br />
            <input type="radio" name="gender" value="nu" />Nữ<br />

            <h6>Vấn Đề Bạn Đang Gặp Phải Là GÌ ?</h6>
            <input type="checkbox" value="bạo lực học đường" />Bạo Lực Học Đường <br />
            <input type="checkbox" value="tình yêu" />Tình Yêu <br />
            <input type="checkbox" value="mất động lực" />Mất Động Lực <br />
            <input type="checkbox" value="tình bạn" />Tình Bạn<br />
            <input type="checkbox" value="sức khỏe" />Sức Khỏe<br />
            <input type="checkbox" value="gia đình" />Gia Đình<br />
            <input type="checkbox" value="khác" />Khác...<br />
        </div>
        <div class="col-sm-7">
            <img src="/Assert/hinh1234-removebg-preview.png" alt="ảrnhP" />
        </div>

    </div>
</div>