
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Details</title>
<link rel="stylesheet" href="detailsNews.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/freeps2/a7rarpress@main/swiper-bundle.min.css">
<div class="header">
    <div class="navbar">

    </div>
    <div class="header_details">
        <div class="container ">
            <h1>Tin Tức Mới</h1>
            <h6>Một Số Loại Trái Cây Giúp Giảm Căng Thẳng</h6>
            <img src="~/Assert/Image.png" alt="" width="100%">
            <p>Khi nhắc đến stress, phần lớn mọi người đều ngầm hiểu đó là tình trạng căng thẳng kéo dài. Thế nhưng, hiểu về stress dưới góc nhìn nội tiết tố bên trong cơ thể để từ đó căn cứ lựa chọn giải pháp khoa học phù hợp thì không hẳn ai cũng biết</p>
            <p class="hour"> 4 min . August 19,2023</p>
        </div>
    </div>
</div>
<div class="bodier">
    <div class="p-5"></div>
    <hr>
    <div class="container inforUser">
        <div class="row">
            <div class="col-sm-2 d-flex">
                <img src="~/Assert/alarm.png" alt="" width="70px" style="border-radius: 50%;">
                <div class="row name">
                    <h6>Mỹ Ngok</h6>
                    <p>Viet My là học sinh</p>
                </div>
            </div>
            <div class="col-sm-4">
            </div>
            <div class="col-sm-6 button_details p-5">
                <button><i class="fa fa-facebook-square" aria-hidden="true"></i>Share</button>
                <button> <i class="fa fa-twitter" aria-hidden="true"></i>Tweet</button>
                <button> <i class="fa fa-share-alt-square" aria-hidden="true"></i>Share</button>
                <button><i class="fa fa-clipboard" aria-hidden="true"></i>Copy</button>
            </div>
        </div>

    </div>
    <div class="p-3"></div>
    <div class="container suggest">
        <div class="row">
            <div class="col-sm-5">
                <img src="~/Assert/Rectangle 21.png" alt="ảnh">
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-5">
                <hr>
                <h6>Gợi ý những thực phẩm giảm stress hiệu quả</h6>
                <p>Một số nghiên cứu cho thấy sức khỏe đường ruột có mối tương quan trực tiếp đến việc giảm stress. Vi khuẩn đường ruột tạo ra các phân tử có chức năng hoạt động thần kinh như serotonin và axit gamma-aminobutyric (GABA) tác động tích cực đến tâm trạng. Cách tốt nhất để hỗ trợ đường ruột khỏe mạnh là bổ sung probiotics giúp tăng cường hệ miễn dịch, chống lại vi khuẩn có hại, cải thiện tiêu hóa và hấp thu dưỡng chất.</p>
                <hr>
            </div>
        </div>
    </div>
    <div class="container suggest">
        <div class="row">
            <div class="col-sm-5">
                <div class="p-5"></div>
                <hr class="hr_suggest">
                <h6>Sữa chua Hy Lạp</h6>
                <p>Như đã đề cập ở trên về mối tương quan giữa đường ruột khỏe và tinh thần khỏe, sữa chua Hy Lạp hỗ trợ cả hai phần của mối liên hệ này. Probiotics và prebiotics trong sữa chua Hy Lạp giúp giảm cholesterol và cân bằng lượng đường trong máu, hỗ trợ cả sức khỏe đường ruột và sức khỏe tinh thần.</p>
                <hr class="hr_suggest">
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-5">
                <img src="~/Assert/Rectangle 23.png" alt="ảnh">
            </div>
        </div>
    </div>
    <div class="container text">
        <div class="p-5"></div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <p style="font-size: 30px;font-weight: bold;">"</p>
                <h6>
                    We didn’t eat this morning, we haven’t had a meal in ten days. We are still waiting for food.
                </h6>
                <p>The past days have been cruel on Fatumata and her two young children – forced to walk over 100 miles in search of food, water and sanctuary.</p>
                <p>Her three-year-old daughter Shankaron sits on her lap, eyes blank and scared. It is a look that is far too common in these parts.</p>
            </div>
            <div class="col-sm-2"></div>
        </div>

    </div>
</div>