
body{
     overflow-x:hidden;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    padding-right: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;

}
#main {
    margin-left: 0px !important;
    width: 100vw;
    padding-right: 0 !important;
    margin-left: 0 !important;
    margin-right:auto;
}
.container-fluid {
    height: 90vh !important;
    margin-top: -30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-image: url('https://img.freepik.com/free-photo/portrait-cute-korean-girl-reading-park-while-lying-grass-relaxing-with-favorite-book-han_1258-130450.jpg?w=996&t=st=1699695693~exp=1699696293~hmac=7b53d5cb1152d0465f7d50b6fbd32bfa8a2639224cec2a37c936738235f26457');
    background-repeat: no-repeat;
    background-size: cover;
   
    
    background-color: red;
    overflow-x: hidden;
}

    .container-fluid h1 {
        width: 70%;
        display: flex;
        justify-content: center;
        color: white;
    }

.box_search {
    background-color: white;
    width: 40%;
    display: flex;
    justify-content: center;
    border-radius: 30px; /* Thêm border radius */
    padding: 10px; /* Thêm khoảng cách giữa nội dung và biên */
}

.content_video {
    width: 30% !important;
    border: 0 !important;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    cursor: pointer;
    transition: box-shadow 0.3s, transform 0.3s;
    border-radius: 10px;
}

    .content_video video {
        /* border-radius: 10px;     */
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }

    .content_video:hover {
        box-shadow: rgba(193, 193, 194, 0.2) 0px 7px 29px 0px;
        transform: scale( 0.95);
    }

.box_search input {
    width: 80%;
    display: inline;
    border: none; /* Loại bỏ border của input */
}

.box_search input {
    outline: 2px solid rgb(255, 255, 255) !important;
}


.box_search button {
    width: 10%;
    display: inline;
    border: none; /* Loại bỏ border của button */
    background: none; /* Loại bỏ nền của button */
    color: rgb(0, 0, 0); /* Màu chữ của button */
}

.box_choice {
    gap: 30px;
}

.item_style {
    /* background-color: aquamarine; */
    display: flex;
    gap: 20px;
    align-items: center;
}

    .item_style h6 {
        padding: 5px;
        display: inline;
    }

#container1 {
   
    display: flex;
    flex-wrap: wrap;

    gap: 30px;
    margin: 0 auto !important;
    margin-top: 70px !important;
    justify-content: center;
    margin-bottom: 50px;
    }

.sub_title {
    padding-left: 120px;
    margin: 30px;
    margin-top: 100px;
    color: #3B71CA;
    text-align:center;
    font-size: 30px;
    font-weight: bolder;
}
.item_name, .item_sub_title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Số dòng hiển thị tối đa */
    -webkit-box-orient: vertical;
}



.card-body p:last-child {
    cursor: pointer;
    background-color: rgba(219, 219, 219, 0.444);
    display: inline;
    padding: 5px;
}

.podcast {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px;
    gap: 30px;
}

.change {
    transition: box-shadow 0.3s, transform 0.3s;
}

    .change:hover {
        box-shadow: rgba(193, 193, 194, 0.2) 0px 7px 29px 0px;
        transform: scale(1.05);
        cursor: pointer;
    }

.wrappe1r a {
    text-decoration: none;
}
.change {
    display: flex !important;
    gap: 20px !important;
 
    height:300px
}