
<title>home</title>
<link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/freeps2/a7rarpress@main/swiper-bundle.min.css">

<div class="header">
    <div class = "navbar">
    </div>
    <div class= "container-fluid header_home">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-5">
                <div class="p-5"></div>
                <h3><b>Chào Mừng</b> Bạn Đến</h3>
                <h1 class="animate-charcter">BitStorm</h1>
                <h6>Nơi lắng nghe những tâm sự của bạn</h6>
                <p class = "p-3"></p>
                <div class="wrap">
                    <button class="button_home">Bắt Đầu Ngay</button>
                    </div>
                <p class="p-3"></p>
                <hr class="hr_home">
            </div>
            <div class = "col-sm-4">
                <img src="~/Assert/kisspng-physician-diabetes-mellitus-computer-disease-preve-doctor-and-computer-5a99b82dcadc58 1.png" alt="ảnh" height="500px">
            </div>
        </div>
    </div>
</div>
<div class = "bodier">
    <div class="p-5"></div>
    <div class="container-fluid">
        <h6 style="text-align: center; padding-bottom: 10px;font-weight: bold;">Một Số Dịch Vụ </h6>
        <div class="slide-container swiper">
            <div class="slide-content">
                <div class="card-wrapper swiper-wrapper">
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <div class="card-image">
                                <img src="https://t4.ftcdn.net/jpg/01/87/04/55/360_F_187045571_1GPYu7GFoJzKuljKRaeowV20vskm3Hzv.jpg" alt="" class="card-img" width="100px"
                                height="100px">
                            </div>
                        </div>
                        <div class="card-content">
                            <h2 class="name">Home page</h2>
                            <p class="description">Nơi cung cấp cho các bạn về các thông tin liên quan về app, bạn có thể viết status để tâm sự cùng người lạ trên web này. Bên cạnh đó bạn cũng sẽ được nhiều người truyền cảm hứng hơn so với bạn không tiếp xúc với ai.</p>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <div class="card-image">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQk2ygV4U4CI2tluhj9pOhRHf4MfaEODjJCPg&usqp=CAU" alt="" class="card-img" width="90px" height="90px" style="border-radius: 30%;">
                            </div>
                        </div>
                        <div class="card-content">
                            <h2 class="name">Contact expert</h2>
                            <p class="description">Trang web này cho phép bạn chat 1 1 với chuyên gia, với những người đã vượt qua cơn trầm cảm. Họ có những kinh nghiệm, có những lời khuyên cho bạn, hoàn toàn miễn phí. Vì chúng tôi hiểu rằng muốn điều trị hoàn toàn thì cực kỳ tốn chi phí.</p>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <div class="card-image">
                                    <img src="~/Assert/blogger.png" alt="" class="card-img" width="100px" height="100px">
                            </div>
                        </div>
    
                        <div class="card-content">
                            <h2 class="name">Blog</h2>
                            <p class="description">Nơi để đọc những bài viết, những video truyền độc lực từ nhiều nguồn khác nhau. Thông qua nhưng câu chuyenej đó thì nhóm cũng có thể giúp một phần nào đó để chữ lành tâm hồn của bạn.</p>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <div class="card-image">
                                <img src="~/Assert/paper-plane.png" alt="" class="card-img" width="100px" height="100px">
                            </div>
                        </div>
                        <div class="card-content">
                            <h2 class="name">Post</h2>
                            <p class="description">Trong trang này thì bạn có thể đăng những bài viết để người khác có thể xam các trạng thái bài viết của người khác bên cạnh đó bạn có thể chia sẻ cảm nhận của mình dưới ẩn danh</p>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <div class="card-image">
                                <img src="~/Assert/operator.png" alt="" class="card-img" width="100px" height="100px">
                            </div>
                        </div>
                        <div class="card-content">
                            <h2 class="name">About us</h2>
                            <p class="description">Ở đây chúng tôi sẽ nói về app này, bên cạnh đó có thể giới thiệu cho bạn một số bác sĩ tâm lí nổi tiếng không tốn chi phí. Chúng tôi cũng có thể giúp bạn tìm những workshop về chủ đề về sức khỏe tâm thần để giới thiệu cho bạn.</p> 
                        </div>
                    </div>   
                </div>
            </div>
            <div class="swiper-button-next swiper-navBtn"></div>
            <div class="swiper-button-prev swiper-navBtn"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="p-5"></div>
    <div class="container-fluid text-center p-5" >
        <div class="row">
            <div class="col-sm-4 a_home">
                <hr class="hr_homer">
                <h6 style="font-size: 30px;">Một số câu chuyện <b> truyền động lực</b></h6>
                <p>Nam là chàng trai trẻ 25 tuổi đã đấu tranh với chứng rối loạn này trong 10 năm. Bạn hiện đang làm dịch thuật tự do và sinh sống tại Hà Nội. Thời gian Nam sống chung với bệnh trầm cảm không hề dễ dàng nhưng chàng trai ấy đã vượt qua căn bệnh này để trở lại cuộc sống bình thường. Những chia sẻ của Nam và góc nhìn từ chuyên gia tâm lý Phạm Tiến Dũng (Dũng Phạm) về thời gian chiến đấu và chiến thắng trầm cảm có thể tiếp thêm động lực cho bạn hoặc người thân.</p>
                <hr class="hr_homer">
                <a href="#" >Xem Thêm <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-5">
                <img src="https://images2.thanhnien.vn/Uploaded/thanhnam/2018_11_24/streaa_WPBI.jpg" alt=""  height="400px" style="border-radius: 10px;padding-top: 20px;">
            </div>
        </div> 
    </div>
    <div class="p-5"></div>
    <div class="container-fluid podcast ">
        <p class="p111">Giới Thiệu Cho Bạn</p>
        <h6 style="text-align: center; padding-bottom: 10px;font-size: 30px;"><b>Một Vài Podcast Tâm Hồn</b></h6>
        <div class="container-fluid ps-5 ">
            <div class="row  m-5 ">
                <div class="col-sm-6">
                    <div class="row justify-content-center ">
                        <div class="col-sm-6">
                            <div class="card pb-3 mb-3" style="width: 18rem;">
                                <img src="https://cdn.tuoitrethudo.com.vn/stores/news_dataimages/phamthanhtrung/112021/12/05/149ac61a42eeb5c23875c9e23e098829.png?rt=20211112052945" class="card-img-top" alt="..." style="border-top-left-radius:25px; border-top-right-radius:25px;">
                                <div class="card-body  mx-3">
                                    <p class="card-text">Chữa lành tâm hồn những người đang âu lo..</p>
                                    <div class="d-flex">
                                        <i class="fa-solid fa-graduation-cap"></i>
                                        <p style="font-size: 15px; color: gray;">1h30p</p>
                                            
                                        <div style="margin-left: auto;color: #FF9933">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card pb-3 mb-3" style="width: 18rem;">
                                <img src="~/Assert/front-view-child-holding-pile-books-copy-space.png" alt="..." height="164px" style="border-top-left-radius:25px; border-top-right-radius:25px;">
                                <div class="card-body mx-3">
                                    <p class="card-text">Hãy cảm ơn cuộc đời vì đã cho bạn sống....</p>
                                    <div class="d-flex ">
                                        <i class="fa-solid fa-graduation-cap"></i>
                                        <p style="font-size: 15px; color: gray;">1h0p</p>
                                            
                                        <div style="margin-left: auto;color: #FF9933">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="card pb-3 mb-3" style="width: 18rem;">
                                <img src="~/Assert/brunette-asian-woman-manager-examines-paper-documents-points-away-blank-space-works-startup-project.png" alt="..." style="border-top-left-radius:25px; border-top-right-radius:25px;">
                                <div class="card-body mx-3">
                                    <p class="card-text">Chữa lành tâm hồn những người đang âu lo..</p>
                                    <div class="d-flex">
                                        <i class="fa-solid fa-graduation-cap"></i>
                                        <p style="font-size: 15px; color: gray;">1h30p</p>
                                            
                                        <div style="margin-left: auto;color: #FF9933">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card pb-3 mb-3" style="width: 18rem;">
                                <img src="~/Assert/portrait-beautiful-young-woman-studying-table-with-laptop-computer-notebook-home-studying-online-e-learning-system 1.png" alt="..." style="border-top-left-radius:25px; border-top-right-radius:25px;">
                                <div class="card-body mx-3">
                                    <p class="card-text">Chữa lành tâm hồn những người đang âu lo..</p>
                                    <div class="d-flex">
                                        <i class="fa-solid fa-graduation-cap"></i>
                                        <p style="font-size: 15px; color: gray;">1h30p</p>
                                            
                                        <div style="margin-left: auto;color: #FF9933">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wrappe1r">
                    <a href="#"><span>Xem thêm <i class="fa fa-long-arrow-right" aria-hidden="true"></i></span></a>
                    </div>
            </div>
        </div>
    </div>
    <div class="p-5"></div>
    <div class="container-fluid choose">
        <p style="color: darkblue; text-align: center;font-size: 10px;">Tại sao lại lựa chọn chúng tôi</p>
        <h5 style="text-align: center; padding-bottom: 10px;font-size: 20px;font-weight: bold;">Sự Lựa Chọn Đúng Đắn Dành Cho Bạn</h5>
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-sm-5">
                        <div class="card ps-3 pb-3" style="width: 18rem;">
                            <div class="card-body">
                                <img src="~/Assert/Group 1000006528.png" alt="">
                                <h6>Tư Vấn Online</h6>
                                <p class="card-text">Được sự hỗ trợ nhiệt tình từ các
                                chuyên gia trong lĩnh vực tư vấn.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-5">
                        <div class="card ps-3 pb-3" style="width: 18rem;">
                            <div class="card-body">
                                <img src="~/Assert/Group 1000006529.png" alt="">
                                <h6>Xây Dựng Cộng Đồng</h6>
                                <p class="card-text">Xây dựng một cộng đồng văn mình 
                                để mọi người cùng nhau phát triển</p>
                            </div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <!-- <div class="col-2"></div> -->

                    <div class="col-sm-5">
                        <div class="card ps-3 pb-3" style="width: 18rem;">
                            <div class="card-body">
                                <img src="~/Assert/Group 1000006530.png" alt="">
                                <h6>Kiểm duyệt thông tin</h6>
                                <p class="card-text">Có một điều bạn chưa biết 
                                phần kiểm duyệt thông tin khá là hay</p>
                            </div>
                            </div>
                    </div>

                    <div class="col-sm-5">
                        <div class="card  ps-3 pb-3" style="width: 18rem;">
                            <div class="card-body">
                                <img src="~/Assert/Group 1000006531.png" alt="">
                                <h6>Hoàn toàn miễn phí</h6>
                                <p class="card-text">Nhận được sự tư vấn từ mọi người
                                hoàn toàn miễn phí..</p>
                            </div>
                            </div>
                    </div>
                    <div class="col-2"></div>

                </div>
            </div>
        </div>
    </div>

       
</div>

<script src="//cdn.jsdelivr.net/gh/freeps2/a7rarpress@main/swiper-bundle.min.js"></script>
<script src="Views/Home/Index.cshtml.js"></script>
