* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.image-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

 .image-container img {
    object-fit: cover;
    width: 80%;
    height: 100%;
 }

.image_doctor {
    width: 240px;
}
.top_image {
    object-fit: cover;
    width: 100%;
}   
.infor {
    width: 245px;
    background-color: #dee4e9;
    border-radius: 20px;
}

.view {
    display: block;
    text-decoration : none;
    text-align: center;
}

.viewAll {
    width: 25%;
    height: 50px;
    border-radius: 20px;
    font-size: large;
    font-weight: bold;
    color: white;
    background: linear-gradient(to right, rgb(111, 166, 235), rgb(85, 188, 210), rgb(188, 203, 201));
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-view {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.viewNumber {
    height: 100px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(255,250,241);
    margin-left: auto;
    margin-right: auto;
}

.text {
    color: rgb(0, 133, 111);
}

.card:hover {
    /* CSS khi di chuột hover */
    transition: transform 0.3s ease;
    transform: scale(1.1);
}
.number{
    color:black;
}
.btn {
    background-color: #057dcd;
    border-radius: 8px !important;
    padding: 3px;
    color: white;
}
 a {
    text-decoration: none !important;
}
h5, p{
     text-decoration: none;
}