<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/login.css">
    <title>Đăng nhập</title>
</head>

<body>
    <div class="container mt-4">
        <h2 class="heading text-center">
            Đăng nhập vào tài khoản của bạn
        </h2>
        <div class="row container_input mt-5">
            <div class="input-group mb-4">
                <input type="text" class="form-control" placeholder="Địa chỉ email" aria-label="Địa chỉ email"
                       aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="row container_input">
            <div class="input-group mb-4">
                <input type="text" class="form-control" placeholder="Mật khẩu (ít nhất 8 kí tự)"
                       aria-label="Mật khẩu (ít nhất 8 kí tự)" aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="row text-center mb-3">
            <a href="#">Quên mật khẩu</a>
        </div>
        <div class="continue_btn">
            <button class="cont_btn" type="button">Tiếp tục</button>
        </div>
    </div>
</body>
</html>
