
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="title">Tạo bài viết</h2>
            <span class="close" onclick="closeModal()">&times;</span>
        </div>
        <div class="modal-body">
            <div class=" status-post-user">
                <div><p style="margin-bottom: 0;">Đăng ẩn danh</p></div>
                <label class="switch">
                    <input type="checkbox">
                    @* <span class="slider"></span> *@
                </label>
            </div>
            <div class=" avt-name-modal ">
                <img src="https://tse3.mm.bing.net/th?id=OIP.ixZ69lPCOZ3ZO5UqSHQGIAHaHa&pid=Api&P=0&h=220" alt="anh dai dien" style="border-radius: 50%; width: 40px; height: 40px;" />
                <p class="name-user mb-0">Vân Thư</p>
            </div>



            <textarea class="content-modal" placeholder="Bạn viết gì đi..." oninput="autoResize(this)"></textarea>
        </div>
        <div>
            <hr>
            <button type="button" onclick="closeModal()">Đăng bài viết</button>
        </div>

    </div>
