
@{
    ViewData["Title"] = "Index";
}
@model List<Post>
<h1>Post Index</h1>

@* @foreach (var post in Model.OrderByDescending(obj => obj.Id).ToList())
{
    //hiên thị các bài post
    //trong mỗi bài post nên có một phần chứa comment gắn id của thằng post
    //hiển thị từng bài post





    //hiển thị comment của bài post này;
    //call hầm GetComments ra từ CommentController
} *@

