
@{
    ViewData["Title"] = "Index";
}
@model List<Post>


@* @foreach (var post in Model.OrderByDescending(obj => obj.Id).ToList())
{
    //hiên thị các bài post
    //trong mỗi bài post nên có một phần chứa comment gắn id của thằng post
    //hiển thị từng bài post





    //hiển thị comment của bài post này;
    //call hầm GetComments ra từ CommentController
} *@

<!-- content -->
<div class="container-fluid">
    <div class="row card-post">
        <div class="row post-bar box_search">
            <div class="col-1">
                <img src="https://tse3.mm.bing.net/th?id=OIP.ixZ69lPCOZ3ZO5UqSHQGIAHaHa&pid=Api&P=0&h=220" alt="anh dai dien" id="img"  class="w-100" style="border-radius: 50%"/>
            </div>
            <div class="col search">
                <input type="text" class="search__input" placeholder="Hôm nay, cậu ổn không?" onclick="openModal()">
            </div>
        </div>
        <div class="post">
            <div class="post-row1">
                <div class="post-avt me-3">
                    <img src="https://tse3.mm.bing.net/th?id=OIP.ixZ69lPCOZ3ZO5UqSHQGIAHaHa&pid=Api&P=0&h=220" alt="anh dai dien" id="img" style="border-radius: 50%; width: 40px; height: 40px;" />
                </div>
                <div class="post-name">
                    <p class="name-user">Vân Thư</p>
                    <p class="hours-posted">20 giờ trước</p>
                </div>
            </div>
            <div class="content-post">
                <p>
                    Xin chào mọi người,
                    Hôm nay, tôi muốn mở lòng và chia sẻ với các bạn về tình trạng trầm cảm mà tôi đang trải qua. Đôi khi, cuộc sống có thể trở nên khó khăn và cảm giác trầm cảm đã ập đến lấn át tâm trí của tôi.
                    Trong những tháng qua, tôi đã phải đối mặt với cuộc chiến với trầm cảm. Cảm giác u ám và mệt mỏi vẫn luôn hiện diện trong cuộc sống hàng ngày của tôi. Đôi khi, nó khiến tôi cảm thấy như một cuộc đấu tranh không có hồi kết. Tôi cảm thấy mất đi sự hứng thú và niềm vui với những điều trước đây tôi thường thích. Cảm xúc này thật khó diễn tả và đôi khi tôi cảm thấy mình bị lạc trong một thế giới tối tăm. Các bạn có đang gặp tình trạng giống tôi không?
                </p>
            </div>
            <div class="emotion">
                <div class="con-like">
                    <input class="like" type="checkbox" title="like">
                    <div class="checkmark">
                        <svg xmlns="http://www.w3.org/2000/svg" class="outline" viewBox="0 0 24 24">
                            <path d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Zm-3.585,18.4a2.973,2.973,0,0,1-3.83,0C4.947,16.006,2,11.87,2,8.967a4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,11,8.967a1,1,0,0,0,2,0,4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,22,8.967C22,11.87,19.053,16.006,13.915,20.313Z"></path>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" class="filled" viewBox="0 0 24 24">
                            <path d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Z"></path>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" height="100" width="100" class="celebrate">
                            <polygon class="poly" points="10,10 20,20"></polygon>
                            <polygon class="poly" points="10,50 20,50"></polygon>
                            <polygon class="poly" points="20,80 30,70"></polygon>
                            <polygon class="poly" points="90,10 80,20"></polygon>
                            <polygon class="poly" points="90,50 80,50"></polygon>
                            <polygon class="poly" points="80,80 70,70"></polygon>
                        </svg>
                    </div>
                </div>
                <i class="far fa-comment icon_comment"></i>
            </div>
            <div>
                <p style="margin-bottom: 0;"><span style="font-weight: 500; margin-bottom: 0;">999</span> lượt thích</p>
                <p>...</p>
            </div>
            <div class="post-comment m-2">
                <div class="post-comment-avt me-3">
                    <img src="https://tse3.mm.bing.net/th?id=OIP.ixZ69lPCOZ3ZO5UqSHQGIAHaHa&pid=Api&P=0&h=220" alt="anh dai dien" id="img" style="border-radius: 50%; width: 40px; height: 40px;" />
                </div>
                <div class="post-content-comment">

                    <p class="name-post">Vân Thư</p>
                    <p class="content">huhuasjdask;dkjdakd ạdkslajdkal</p>

                </div>
            </div>
            <div class="post-comment m-2">
                <div class="post-comment-avt me-3">
                    <img src="https://tse3.mm.bing.net/th?id=OIP.ixZ69lPCOZ3ZO5UqSHQGIAHaHa&pid=Api&P=0&h=220" alt="anh dai dien" id="img" style="border-radius: 50%; width: 40px; height: 40px;" />
        
                </div>
                <div class="post-content-comment">
                    <p class="name-post">Vân Thư</p>
                    <p class="content">huhuasjdaskaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaassssssssssssssssffffxzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff</p>
                </div>
            </div>
            <div class="input-add-comment">

                <input placeholder="Thêm bình luận" class="input-field input_comment" type="text">
                <label for="input-field" class="input-label">Bình luận</label>
                <span class="input-highlight"></span>
            </div>
        </div>
        <div class="post">
            <div class="post-row1">
                <div class="post-avt me-3">
                    <img src="https://tse3.mm.bing.net/th?id=OIP.ixZ69lPCOZ3ZO5UqSHQGIAHaHa&pid=Api&P=0&h=220" alt="anh dai dien" id="img" style="border-radius: 50%; width: 40px; height: 40px;" />
                </div>
                <div class="post-name">
                    <p class="name-user">Vân Thư</p>
                    <p class="hours-posted">20 giờ trước</p>
                </div>
            </div>
            <div class="content-post">
                <p>
                    Xin chào mọi người,
                    Hôm nay, tôi muốn mở lòng và chia sẻ với các bạn về tình trạng trầm cảm mà tôi đang trải qua. Đôi khi, cuộc sống có thể trở nên khó khăn và cảm giác trầm cảm đã ập đến lấn át tâm trí của tôi.
                    Trong những tháng qua, tôi đã phải đối mặt với cuộc chiến với trầm cảm. Cảm giác u ám và mệt mỏi vẫn luôn hiện diện trong cuộc sống hàng ngày của tôi. Đôi khi, nó khiến tôi cảm thấy như một cuộc đấu tranh không có hồi kết. Tôi cảm thấy mất đi sự hứng thú và niềm vui với những điều trước đây tôi thường thích. Cảm xúc này thật khó diễn tả và đôi khi tôi cảm thấy mình bị lạc trong một thế giới tối tăm. Các bạn có đang gặp tình trạng giống tôi không?
                </p>
            </div>
            <div class="emotion">
                <div class="con-like">
                    <input class="like" type="checkbox" title="like">
                    <div class="checkmark">
                        <svg xmlns="http://www.w3.org/2000/svg" class="outline" viewBox="0 0 24 24">
                            <path d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Zm-3.585,18.4a2.973,2.973,0,0,1-3.83,0C4.947,16.006,2,11.87,2,8.967a4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,11,8.967a1,1,0,0,0,2,0,4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,22,8.967C22,11.87,19.053,16.006,13.915,20.313Z"></path>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" class="filled" viewBox="0 0 24 24">
                            <path d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Z"></path>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" height="100" width="100" class="celebrate">
                            <polygon class="poly" points="10,10 20,20"></polygon>
                            <polygon class="poly" points="10,50 20,50"></polygon>
                            <polygon class="poly" points="20,80 30,70"></polygon>
                            <polygon class="poly" points="90,10 80,20"></polygon>
                            <polygon class="poly" points="90,50 80,50"></polygon>
                            <polygon class="poly" points="80,80 70,70"></polygon>
                        </svg>
                    </div>
                </div>
                <i class="far fa-comment"></i>
            </div>
            <div>
                <p style="margin-bottom: 0;"><span style="font-weight: 500; margin-bottom: 0;">999</span> lượt thích</p>
                <p>...</p>
            </div>
            <div class="post-comment">
                <div class="post-comment-avt me-3">
                    <img src="https://tse3.mm.bing.net/th?id=OIP.ixZ69lPCOZ3ZO5UqSHQGIAHaHa&pid=Api&P=0&h=220" alt="anh dai dien" id="img" class="w-100" style="border-radius: 50%" />
                </div>
                <div class="post-content-comment">

                    <p class="name-post">Vân Thư</p>
                    <p class="content">huhuasjdask;dkjdakd ạdkslajdkal</p>

                </div>


            </div>
            <div class="input-add-comment">

                <input placeholder="Thêm bình luận" class="input-field input_comment" type="text">
                <label for="input-field" class="input-label">Bình luận</label>
                <span class="input-highlight"></span>
            </div>
        </div><div class="post">
            <div class="post-row1">
                <div class="post-avt me-3">
                    <img src="https://tse3.mm.bing.net/th?id=OIP.ixZ69lPCOZ3ZO5UqSHQGIAHaHa&pid=Api&P=0&h=220" alt="anh dai dien" id="img" style="border-radius: 50%; width: 40px; height: 40px;" />
                </div>
                <div class="post-name">
                    <p class="name-user">Vân Thư</p>
                    <p class="hours-posted">20 giờ trước</p>
                </div>
            </div>
            <div class="content-post">
                <p>
                    Xin chào mọi người,
                    Hôm nay, tôi muốn mở lòng và chia sẻ với các bạn về tình trạng trầm cảm mà tôi đang trải qua. Đôi khi, cuộc sống có thể trở nên khó khăn và cảm giác trầm cảm đã ập đến lấn át tâm trí của tôi.
                    Trong những tháng qua, tôi đã phải đối mặt với cuộc chiến với trầm cảm. Cảm giác u ám và mệt mỏi vẫn luôn hiện diện trong cuộc sống hàng ngày của tôi. Đôi khi, nó khiến tôi cảm thấy như một cuộc đấu tranh không có hồi kết. Tôi cảm thấy mất đi sự hứng thú và niềm vui với những điều trước đây tôi thường thích. Cảm xúc này thật khó diễn tả và đôi khi tôi cảm thấy mình bị lạc trong một thế giới tối tăm. Các bạn có đang gặp tình trạng giống tôi không?
                </p>
            </div>
            <div class="emotion">
                <div class="con-like">
                    <input class="like" type="checkbox" title="like">
                    <div class="checkmark">
                        <svg xmlns="http://www.w3.org/2000/svg" class="outline" viewBox="0 0 24 24">
                            <path d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Zm-3.585,18.4a2.973,2.973,0,0,1-3.83,0C4.947,16.006,2,11.87,2,8.967a4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,11,8.967a1,1,0,0,0,2,0,4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,22,8.967C22,11.87,19.053,16.006,13.915,20.313Z"></path>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" class="filled" viewBox="0 0 24 24">
                            <path d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Z"></path>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" height="100" width="100" class="celebrate">
                            <polygon class="poly" points="10,10 20,20"></polygon>
                            <polygon class="poly" points="10,50 20,50"></polygon>
                            <polygon class="poly" points="20,80 30,70"></polygon>
                            <polygon class="poly" points="90,10 80,20"></polygon>
                            <polygon class="poly" points="90,50 80,50"></polygon>
                            <polygon class="poly" points="80,80 70,70"></polygon>
                        </svg>
                    </div>
                </div>
                <i class="far fa-comment"></i>
            </div>
            <div>
                <p style="margin-bottom: 0;"><span style="font-weight: 500; margin-bottom: 0;">999</span> lượt thích</p>
                <p>...</p>
            </div>
            <div class="post-comment">
                <div class="post-comment-avt me-3">
                    <img src="https://tse3.mm.bing.net/th?id=OIP.ixZ69lPCOZ3ZO5UqSHQGIAHaHa&pid=Api&P=0&h=220" alt="anh dai dien" id="img" style="border-radius: 50%; width: 40px; height: 40px;" />
                </div>
                <div class="post-content-comment">

                    <p class="name-post">Vân Thư</p>
                    <p class="content">huhuasjdask;dkjdakd ạdkslajdkal</p>

                </div>


            </div>
            <div class="input-add-comment">

                <input placeholder="Thêm bình luận" class="input-field input_comment" type="text">
                <label for="input-field" class="input-label">Bình luận</label>
                <span class="input-highlight"></span>
            </div>
        </div>
    </div>
</div>


<div id="modalPost" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="title">Tạo bài viết</h2>
            <span class="close" onclick="closeModal()">&times;</span>
        </div>
        <div class="modal-body">
            <div class=" status-post-user">
                <div><p style="margin-bottom: 0;">Đăng ẩn danh</p></div>
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider"></span>
                </label>
            </div>
            <div class=" avt-name-modal ">
                <img src="https://tse3.mm.bing.net/th?id=OIP.ixZ69lPCOZ3ZO5UqSHQGIAHaHa&pid=Api&P=0&h=220" alt="anh dai dien"   style="border-radius: 50%; width: 40px; height: 40px;" />
                <p class="name-user mb-0">Vân Thư</p>
            </div>



            <textarea class="content-modal" placeholder="Bạn viết gì đi..." oninput="autoResize(this)"></textarea>
        </div>
        <div>
            <hr>
            <button type="button" onclick="closeModal()">Đăng bài viết</button>
        </div>

    </div>
</div>

<script>
    function openModal() {
        document.getElementById("modalPost").style.display = "block";
    }

    function closeModal() {
        document.getElementById("modalPost").style.display = "none";
    }
    function autoResize(textarea) {
        textarea.style.height = 'auto'; // Đặt chiều cao của textarea thành 'auto' để xác định lại kích thước dựa trên nội dung
        textarea.style.height = textarea.scrollHeight + 'px'; // Đặt chiều cao của textarea bằng chiều cao của nội dung đã nhập
    }
</script>
<script>
    function GetParent(element, selector){
        while(element.parentElement){
            if(element.parentElement.matches(selector)){
                return element.parentElement;
            }
            element = element.parentElement;
        }
    }
    function ShowComment(event, idPost) {
        const parent = GetParent(event.target, father);
        const comment_container = parent.querySelector("");
        $(comment_container).load('@Url.Action("GetComments", "Comment")');
    }
    funtion CreatePost(){
        $(comment_container).load('@Url.Action("Create", "Post")');
    }
    

</script>